* {
    box-sizing: border-box;
    margin: 0;
}

.element {
    width: 250px;
    height: 250px;
    background-color: purple;
    border: 30px solid steelblue;
    padding: 30px;
    /* margin: 0 auto; */
}

body {
    font-size: 25px;
}

.block {
    background-color: teal;
    color: white;
    padding: 30px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.inline {
    background-color: crimson;
    color: white;
}
