* {
    color: red;    
}

/*

Type selector

h2 {
    color: orange;
    font-size: 30px;
}
*/

/* Class selector 
.title {
    color: brown;
    font-size: 30px;
    border: 1px solid black;
}

.bold {
    font-weight: bold;
}
*/

/* ID selector
#title {
    color: steelblue;
    font-size: 50px;
}
*/
