* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

.container {
    width: 90%;
    height: 500px;
    border: 2px solid #000;
    margin: 80px auto;
}

.position {
    width: 150px;
    height: 100px;
    font-size: 1.3rem;
    line-height: 100px;
    text-align: center;
    color: #fff;
}

.static {
    background-color: midnightblue;
    position: static;
}

.relative {
    background-color: tomato;
    position: relative;
    /* top: 300px;
    /* right: 100px; */
    /* left: 200px;  */
}

.absolute {
    background-color: purple;
    /* position: absolute; */
}

.fixed {
    background-color: royalblue;
    position: fixed;
    top: 120px;
    left: 80px;
}
