* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

.container {
    background-color: slateblue;
    color: #fff;
    padding: 20px;
}

.title {
    margin-bottom: 20px;
}
