* {
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 20px; */
}

body {
    font-family: Arial;
}

.container {
    background-color: slateblue;
    color: #fff;
    padding: 20px;
}

.title {
    margin-bottom: 20px;
    border: 1px solid #fff;
}

.first {
    font-size: 1.5rem;
}

.second {
    font-size: 24px;
}
